<%- include('partials/head') %>
  <%- include('partials/header') %>

    <%- include('partials/main') %>
      <% if (locals.asideOn) { %>
        <aside>
          <h3>2021 something</h3>
        </aside>
        <% } %>

          <%- include('partials/footer') %>