<%- include('../partials/head') %>
  <!-- we get data {title: Books page, books: [all books array]} -->

  <!-- include header -->
  <%- include('../partials/header') %>

    <main class="container">
      <h1>Add new book</h1>

      <form>

      </form>

    </main>

    <%- include('../partials/footer') %>