<main class="container">
  <h2>This is main ejs </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptas ipsam quisquam sapiente. Maxime
    aspernatur quibusdam, modi id, molestias ab, ipsa deleniti amet reprehenderit magni laboriosam dolorem repudiandae
    tempore neque?</p>
</main>